body {
  background-color: #232323;
  margin: 0;
  font-family: 'Avenir', sans-serif;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left; 
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.7s; /* For a better compatibility with other browsers, when transition is present
  we also need to add webkit*/
  -webkit-transition: background 0.7s;
  -moz-transition: background 0.7s;
}

#container {
  max-width: 600px;
  margin: 20px auto; /* Nice trick to center the container is to write margin: 0 auto;*/
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}


#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: steelblue;
  color: white;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s; /*transition property takes 2 arguments : 1) what we want to make 2) the delay in seconds;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  outline: none;
}

button:hover {
  background-color: steelblue;
  color: white;
}

#message {
  display: inline-block;
  width: 20%;
}

